{
  "ConnectionStrings": {
    "MySqlDbConnection": "server=dbhost;database=dbname;user id=dbuser;password=dbpass"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
